{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>STOCKMOON</title>
<link href="{% static 'news/images/logo.png' %}" rel="icon" type="image/png"/>
<link href="{% static 'news/style/css/header.css' %}" rel="stylesheet"/>
<link href="{% static 'news/style/css/footer.css' %}" rel="stylesheet"/>
<link href="{% static 'news/style/css/login.css' %}" rel="stylesheet"/>
<link href="{% static 'news/style/css/allPages.css' %}" rel="stylesheet"/>
<link href="{% static 'news/style/css/market.css' %}" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&amp;display=swap" rel="stylesheet"/>
</head>
<body>
<div class="window" id="form_window">
<div class="signForm" id="form">
<div id="cancel_icon"></div>
<ul class="tab-group">
<li class="tab active"><a href="#login">LOG IN</a></li>
<li class="tab"><a href="#signup">SIGN UP</a></li>
</ul>
<div class="tab-content">
<div id="login">
<h1>Welcome Back!</h1>
<form action="/" method="post">
<div class="field-wrap">
<label>
                                Email Address<span class="req">*</span>
</label>
<input required="" type="email"/>
</div>
<div class="field-wrap">
<label>
                                Password<span class="req">*</span>
</label>
<input required="" type="password"/>
</div>
<p class="forgot"><a href="#">Forgot Password?</a></p>
<button class="button button-block" type="submit">Log In</button>
</form>
</div>
<div id="signup">
<h1>Sign Up for Free</h1>
<form action="/" method="post">
<div class="field-wrap">
<label>
                                Email Address<span class="req">*</span>
</label>
<input autocomplete="off" required="" type="email"/>
</div>
<div class="field-wrap">
<label>
                                Set A Password<span class="req">*</span>
</label>
<input autocomplete="off" required="" type="password"/>
</div>
<button class="button button-block" type="submit">Get Started</button>
</form>
</div>
</div>
</div>
</div>
<div class="wrapper">
<header class="header_external" id="header">
<div class="hi_wrapper">
<div class="header_icon" id="header_icon">
<input id="check_header" type="checkbox"/>
<span></span>
<span></span>
<span></span>
</div>
</div>
<div class="container">
<nav class="header_nav">
<div class="main_logo"><a href="{% url 'news-main' %}">STOCKMOON</a></div>
<div class="main_nav" id="main-nav">
<ul class="section_wrap" id="main-nav">
<li class="main_li" id="dropdown">
<a class="menu_paraghraph name type" data-type="">MARKETS</a>
<div class="nav_section">
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-forex' %}">Financial</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-index' %}">Index</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-energy' %}">Energy</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-metal' %}">Metal</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-agriculture' %}">Agriculture</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-crypto' %}">Cryptocurrencies</a></li>
</ul>
</div>
</li>
<li class="main_li" id="dropdown">
<a class="menu_paraghraph type">Company</a>
<div class="nav_section show" id="nav_section">
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-about' %}">About</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="#">Blog</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-contact' %}">Contact</a></li>
</ul>
</div>
</li>
<li class="main_li" data-type="notSigned" id="dropdown">
<a class="menu_paraghraph type">Your Moon</a>
<div class="nav_section showLast" id="nav_section">
<ul class="menu_section">
<li class="section_type"><a href="#">News</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-profile' %}">Profile</a></li>
</ul>
<ul class="menu_section">
<li class="section_type signed"><a href="{% url 'news-profile' %}" id="signed">Mogu4iy.kotygoroshko@gmail.com</a></li>
<li class="section_type sign"><a class="menu_paragraph sign_in" id="signlog">SIGN IN</a></li>
<li class="section_type sub"><a class="menu_paraghraph subscribe" href="{% url 'news-pricer' %}">Subscribe</a></li>
</ul>
</div>
</li>
</ul>
</div>
<div class="nav_desktop_section" id="nav_section_desktop">
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-forex' %}">Forex</a>
</li>
<li class="section_paraghraph"><a href="{% url 'news-rub' %}">RUB</a></li>
<li class="section_paraghraph"><a href="{% url 'news-gbp' %}">GBP</a></li>
<li class="section_paraghraph"><a href="{% url 'news-jpy' %}">JPY</a></li>
<li class="section_paraghraph"><a href="{% url 'news-eur' %}">EUR</a></li>
<li class="section_paraghraph"><a href="{% url 'news-cny' %}">CNY</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-index' %}">Index</a>
</li>
<li class="section_paraghraph"><a href="{% url 'news-nyse' %}">NYSE Composite</a></li>
<li class="section_paraghraph"><a href="{% url 'news-sp' %}">S&amp;P 500</a></li>
<li class="section_paraghraph"><a href="{% url 'news-nasdaq' %}">Nasdaq 100</a></li>
<li class="section_paraghraph"><a href="{% url 'news-rut' %}">Russell 2000</a></li>
<li class="section_paraghraph"><a href="{% url 'news-n225' %}">Nikkei 225</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-energy' %}">Energy</a>
</li>
<li class="section_paraghraph"><a href="{% url 'news-oil' %}">Crude oil</a></li>
<li class="section_paraghraph"><a href="{% url 'news-gas' %}">Natural gas</a></li>
<li class="section_paraghraph"><a href="{% url 'news-brent' %}">Brent crude</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-metal' %}">Metal</a>
</li>
<li class="section_paraghraph"><a href="{% url 'news-gold' %}">Gold</a></li>
<li class="section_paraghraph"><a href="{% url 'news-silver' %}">Silver</a></li>
<li class="section_paraghraph"><a href="{% url 'news-platinum' %}">Platinum</a></li>
<li class="section_paraghraph"><a href="{% url 'news-iron' %}">Iron</a></li>
<li class="section_paraghraph"><a href="{% url 'news-copper' %}">Copper</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-agriculture' %}">Agriculture</a></li>
<li class="section_paraghraph"><a href="{% url 'news-corn' %}">Corn</a></li>
<li class="section_paraghraph"><a href="{% url 'news-soybean' %}">Soybean</a></li>
<li class="section_paraghraph"><a href="{% url 'news-cattle' %}">Cattle</a></li>
<li class="section_paraghraph"><a href="{% url 'news-sugar' %}">Sugar</a></li>
</ul>
<ul class="menu_section">
<li class="section_type"><a href="{% url 'news-crypto' %}">Crypto</a>
</li>
<li class="section_paraghraph"><a href="{% url 'news-btc' %}">Bitcoin</a></li>
<li class="section_paraghraph"><a href="{% url 'news-eth' %}">Ethereum</a></li>
<li class="section_paraghraph"><a href="{% url 'news-dash' %}">Dash</a></li>
<li class="section_paraghraph"><a href="{% url 'news-ltc' %}">Litecoin</a></li>
<li class="section_paraghraph"><a href="{% url 'news-xmr' %}">Monero</a></li>
<li class="section_paraghraph"><a href="{% url 'news-xrp' %}">Ripple</a></li>
</ul>
</div>
</nav>
</div>
</header>
<main>
<div class="container">
<div class="page_nav">
<div class="page_name" style="--tooltip-color:#A0522D;"><a href="{% url 'news-agriculture' %}" id="page_type">agriculture</a></div>
<ul class="page_menu" id="page_menu">




<li class="page_paraghraph"><a class="" href="{% url 'news-corn' %}">corn</a></li><li class="page_paraghraph"><a class="" href="{% url 'news-soybean' %}">soybean</a></li><li class="page_paraghraph"><a class="" href="{% url 'news-cattle' %}">cattle</a></li><li class="page_paraghraph" style="border: none;"><a class="" href="{% url 'news-sugar' %}">sugar</a></li></ul>
</div>
<div class="info_wrapper">
<div class="left_wrapper">
<div class="news-wrapper">
<div class="data_header">
<h2 class="title">Most viewed</h2>
</div>
                            {% for article in news %}
                            <article class="data_news">
<div class="last_new_info">
<a class="last_new_source" href="{{article.source}}">NY Times</a>
<time class="last_new_time" value="{{article.date_posted}}">2 hours ago</time>
</div>
<div class="news_story">
<a class="news_story_url" href="{{article.source}}">{{ article.title }}</a>
</div>
</article>
                            {% endfor %}
                        </div>
</div>
<div class="right_wrapper">
<div class="charts_header_wrapper">
<ul class="charts_header" id="chart_types">
<li class="chart_type choosed c h o o s e d" data-type="corn"><a class="chart_type_link">corn</a></li>
<li class="chart_type" data-type="soybean"><a class="chart_type_link">soybean</a></li>
<li class="chart_type" data-type="cattle"><a class="chart_type_link">cattle</a></li>
<li class="chart_type" data-type="sugar"><a class="chart_type_link">sugar</a></li>
<div class="chart_type" data-type="corn"><a class="chart_type_link">corn</a></div><div class="chart_type" data-type="soybean"><a class="chart_type_link">soybean</a></div><div class="chart_type" data-type="cattle"><a class="chart_type_link">cattle</a></div><div class="chart_type" data-type="sugar"><a class="chart_type_link">sugar</a></div></ul>
</div>
<div class="chart_wrapper" data-type="corn" id="ch">
<div class="tradingview-widget-container" id="changeParent">
<div id="tradingview_change" style="height: 100%;"></div>
<script src="https://s3.tradingview.com/tv.js" type="text/javascript"></script>
</div>
</div>
</div>
</div>
<div class="news_topic_wrapper">
<div class="news_topic">Corn<a href="corn.html">More in Corn &gt;&gt;</a></div>
<ul class="news_wrapper">
                        {% for article in news %}
                        <li class="last_new_wrapper">
<figure class="news_article">
<div class="last_new_img_wrapper">
<img alt="" class="last_new_img" src="{{article.image}}"/>
<a class="last_new_source" href="{{article.source}}">NY Times</a>
</div>
<figcaption class="news_info">
<a class="last_new_market" data-type="forex" href="financial.html">Financial</a>
<time class="last_new_time" value="{{article.date_posted}}">2 hours ago</time>
</figcaption>
<div class="news_story">
<a class="news_story_url" href="#">{{ article.title }}</a>
</div>
</figure>
</li>
                        {% endfor %}
                    </ul>
</div>
<div class="more_news">
<!-- С‚СѓС‚ РЅРѕРІРѕСЃС‚Рё РїРѕ СЃСѓР±РєР°С‚РµРіРѕСЂРёРё СЃ С‚Р°РєРёРјРё Р¶Рµ РїРѕРїСЂР°РІРєР°РјРё))-->
<div class="more_news_topic">More from Agriculture</div>
<ul class="news_wrapper">
                        {% for article in news %}
                        <li class="last_new_wrapper">
<article class="news_article">
<div class="last_new_img_wrapper">
<div class="last_new_img" style="background-image: url(images/news.jpg);"></div>
<a class="last_new_source" href="{{article.source}}">NY Times</a>
</div>
<div class="last_new_info">
<div class="news_main_info">
<a class="news_market" data-type="forex" href="{% url 'news-forex' %}">Forex</a>
<time value="{{article.date_posted}}">2 hours ago</time>
</div>
<h2><a href="#">{{ article.title }}</a></h2>
</div>
</article>
</li>
                        {% endfor %}
                    </ul>
</div>
<div class="page_extra_nav">
<div class="page_nav_name"><a href="financial.html">Forex</a></div>
<ul class="page_menu" id="page_extra_menu">
<li class="page_paraghraph"><a class="" href="{% url 'news-corn' %}">corn</a></li><li class="page_paraghraph"><a class="" href="{% url 'news-soybean' %}">soybean</a></li><li class="page_paraghraph"><a class="" href="{% url 'news-cattle' %}">cattle</a></li><li class="page_paraghraph" style="border: none;"><a class="" href="{% url 'news-sugar' %}">sugar</a></li></ul>
</div>
</div>
</main>
<footer class="footer_external" id="footer">
<div class="container">
<div class="footer_wrapper">
<div class="footer_nav_section">
<div class="footer_logo">STOCKMOON</div>
<div class="social">
<a class="store-button" href="https://www.facebook.com/Binary.Studio.Company/">
<img class="image-social" src="{% static 'news/images/facebook.svg' %}"/>
</a>
<a class="store-button" href="https://www.instagram.com/toyota/?hl=ru">
<img class="image-social" src="{% static 'news/images/instagram.svg' %}"/>
</a>
<a class="store-button" href="https://www.lincedin.com/" style="background-color: white; border-radius: 5px;">
<img class="image-social" src="{% static 'news/images/linkedin.svg' %}"/>
</a>
</div>
<a class="rights">Р’В©2020 StockMoon All Rights Reserved</a>
</div>
<div class="footer_other">
<div class="footer_list">
<a class="refer_type">Company</a>
<a class="refer" href="{% url 'news-about' %}">About Us</a>
<a class="refer" href="#">Blog</a>
<a class="refer" href="#">Careers</a>
</div>
<div class="footer_list" style=" border-right: 2px solid gray;">
<a class="refer_type">Help</a>
<a class="refer" href="#">Help</a>
<a class="refer" href="#">Terms of use</a>
<a class="refer" href="{% url 'news-contact' %}">Contact Us</a>
</div>
<div class="footer_list contact">
<a class="refer_type">Contact</a>
<a class="refer" href="https://goo.gl/maps/btMrYPCnBw6UBzzR6" target="_blank">Biloruska street<br/>Kyiv, Ukraine
                            </a>
<a class="refer" href="tel:+38099-300-6761" style="margin-top: 15px;">+(380) 99 300 67 61</a>
</div>
</div>
</div>
</div>
</footer>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'news/style/js/main.js' %}"></script>
<script src="{% static 'news/style/js/data1.js' %}"></script>
<script src="{% static 'style/js/login.js' %}"></script>
</html>