{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>STOCKMOON</title>
    <link rel="stylesheet" href="{% static 'news/images/logo.png' %}" rel="icon" type="image/png">
    <link rel="stylesheet" href="{% static 'news/style/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/allPages.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/contact.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="window" id="form_window">
        <div class="signForm" id="form">
            <div id="cancel_icon"></div>
            <ul class="tab-group">
                <li class="tab active"><a href="#login">LOG IN</a></li>
                <li class="tab"><a href="#signup">SIGN UP</a></li>
            </ul>
            <div class="tab-content">
                <div id="login">
                    <h1>Welcome Back!</h1>
                    <form action="/" method="post">
                        <div class="field-wrap">
                            <label>
                                Email Address<span class="req">*</span>
                            </label>
                            <input required="" type="email" />
                        </div>
                        <div class="field-wrap">
                            <label>
                                Password<span class="req">*</span>
                            </label>
                            <input required="" type="password" />
                        </div>
                        <p class="forgot"><a href="#">Forgot Password?</a></p>
                        <button class="button button-block" type="submit">Log In</button>
                    </form>
                </div>
                <div id="signup">
                    <h1>Sign Up for Free</h1>
                    <form action="/" method="post">
                        <div class="field-wrap">
                            <label>
                                Email Address<span class="req">*</span>
                            </label>
                            <input autocomplete="off" required="" type="email" />
                        </div>
                        <div class="field-wrap">
                            <label>
                                Set A Password<span class="req">*</span>
                            </label>
                            <input autocomplete="off" required="" type="password" />
                        </div>
                        <button class="button button-block" type="submit">Get Started</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <header class="header_external" id="header">
            <div class="hi_wrapper">
                <div class="header_icon" id="header_icon">
                    <input id="check_header" type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="container">
                <nav class="header_nav">
                    <div class="main_logo"><a href="{% url 'news-main' %}">STOCKMOON</a></div>
                    <div class="main_nav" id="main-nav">
                        <ul class="section_wrap" id="main-nav">
                            <li class="main_li" id="dropdown">
                                <a class="menu_paraghraph name type" data-type="">MARKETS</a>
                                <div class="nav_section">
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-forex' %}">Financial</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-index' %}">Index</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-energy' %}">Energy</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-metal' %}">Metal</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-agriculture' %}">Agriculture</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-crypto' %}">Cryptocurrencies</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main_li" id="dropdown">
                                <a class="menu_paraghraph type">Company</a>
                                <div class="nav_section show" id="nav_section">
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-about' %}">About</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="#">Blog</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-contact' %}">Contact</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main_li" id="dropdown" data-type="notSigned">
                                <a class="menu_paraghraph type">Your Moon</a>
                                <div class="nav_section showLast" id="nav_section">
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="#">News</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-profile' %}">Profile</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type signed"><a href="{% url 'news-profile' %}" id="signed">Mogu4iy.kotygoroshko@gmail.com</a></li>
                                        <li class="section_type sign"><a class="menu_paragraph sign_in" id="signlog">SIGN IN</a></li>
                                        <li class="section_type sub"><a class="menu_paraghraph subscribe" href="{% url 'news-pricer' %}">Subscribe</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="nav_desktop_section" id="nav_section_desktop">
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-forex' %}">Forex</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-rub' %}">RUB</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-gbp' %}">GBP</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-jpy' %}">JPY</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-eur' %}">EUR</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-cny' %}">CNY</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-index' %}">Index</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-nyse' %}">NYSE Composite</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-sp' %}">S&P 500</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-nasdaq' %}">Nasdaq 100</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-rut' %}">Russell 2000</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-n225' %}">Nikkei 225</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-energy' %}">Energy</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-oil' %}">Crude oil</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-gas' %}">Natural gas</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-brent' %}">Brent crude</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-metal' %}">Metal</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-gold' %}">Gold</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-silver' %}">Silver</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-platinum' %}">Platinum</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-iron' %}">Iron</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-copper' %}">Copper</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-agriculture' %}">Agriculture</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-corn' %}">Corn</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-soybean' %}">Soybean</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-cattle' %}">Cattle</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-sugar' %}">Sugar</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-crypto' %}">Crypto</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-btc' %}">Bitcoin</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-eth' %}">Ethereum</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-dash' %}">Dash</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-ltc' %}">Litecoin</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-xmr' %}">Monero</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-xrp' %}">Ripple</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="page_nav">
                    <div class="page_stockname">company</div>
                    <div class="page_name">
                        Contact Us
                    </div>
                    <div class="text">
                        <p class="paragraph_text">We would love to hear about your observations, or what we need to improve.</p>
                    </div>
                </div>
                <div class="contact_wrapper" id="contact_wrapper">
                    <form class="contact-form" id="contact-form">
                        <div class="contact_block_wrapper">
                            <span class="input_name">Select Topic</span>
                            <select class="topic_select" id="topic_select" required="True" form="contact-form" onchange="ChangeSelect()">
                                <option selected="selected" value="">Select</option>
                                <option value="Partnership">Partnership</option>
                                <option value="Feedback">Feedback</option>
                            </select>
                        </div>
                        <div class="contact_block_wrapper">
                            <span class="input_name">Full Name</span>
                            <input class="input" type="text" name="name" placeholder="Full Name" required="True">
                        </div>
                        <div class="contact_block_wrapper">
                            <span class="input_name">Email</span>
                            <input class="input" name="email" placeholder="Stock@moon.com" required="True" type="email">
                        </div>
                        <div class="contact_block_wrapper">
                            <span class="input_name">Message</span>
                            <textarea class="input" name="message" placeholder="Please enter here" required="True"></textarea>
                        </div>
                        <div class="contact_block_wrapper">
                            <input type="submit" class="contact_button" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="footer_external" id="footer">
            <div class="container">
                <div class="footer_wrapper">
                    <div class="footer_nav_section">
                        <div class="footer_logo">STOCKMOON</div>
                        <div class="social">
                            <a class="store-button" href="https://www.facebook.com/Binary.Studio.Company/">
                                <img class="image-social" src="{% static 'news/images/facebook.svg' %}" />
                            </a>
                            <a class="store-button" href="https://www.instagram.com/toyota/?hl=ru">
                                <img class="image-social" src="{% static 'news/images/instagram.svg' %}" />
                            </a>
                            <a class="store-button" href="https://www.lincedin.com/" style="background-color: white; border-radius: 5px;">
                                <img class="image-social" src="{% static 'news/images/linkedin.svg' %}" />
                            </a>
                        </div>
                        <a class="rights">В©2020 StockMoon All Rights Reserved</a>
                    </div>
                    <div class="footer_other">
                        <div class="footer_list">
                            <a class="refer_type">Company</a>
                            <a class="refer" href="{% url 'news-about' %}">About Us</a>
                            <a class="refer" href="#">Blog</a>
                            <a class="refer" href="#">Careers</a>
                        </div>
                        <div class="footer_list" style=" border-right: 2px solid gray;">
                            <a class="refer_type">Help</a>
                            <a class="refer" href="#">Help</a>
                            <a class="refer" href="#">Terms of use</a>
                            <a class="refer" href="{% url 'news-contact' %}">Contact Us</a>
                        </div>
                        <div class="footer_list contact">
                            <a class="refer_type">Contact</a>
                            <a class="refer" href="https://goo.gl/maps/btMrYPCnBw6UBzzR6" target="_blank">Biloruska street<br />Kyiv, Ukraine
                            </a>
                            <a class="refer" href="tel:+38099-300-6761" style="margin-top: 15px;">+(380) 99 300 67 61</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'news/style/js/main.js' %}"></script>
<script src="{% static 'style/js/login.js' %}"></script>

</html>