{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>STOCKMOON</title>
    <link rel="stylesheet" href="{% static 'news/images/logo.png' %}" rel="icon" type="image/png">
    <link rel="stylesheet" href="{% static 'news/style/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/allPages.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/pricer.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="window" id="form_window">
        <div class="signForm" id="form">
            <div id="cancel_icon"></div>
            <ul class="tab-group">
                <li class="tab active"><a href="#login">LOG IN</a></li>
                <li class="tab"><a href="#signup">SIGN UP</a></li>
            </ul>
            <div class="tab-content">
                <div id="login">
                    <h1>Welcome Back!</h1>
                    <form action="/" method="post">
                        <div class="field-wrap">
                            <label>
                                Email Address<span class="req">*</span>
                            </label>
                            <input required="" type="email" />
                        </div>
                        <div class="field-wrap">
                            <label>
                                Password<span class="req">*</span>
                            </label>
                            <input required="" type="password" />
                        </div>
                        <p class="forgot"><a href="#">Forgot Password?</a></p>
                        <button class="button button-block" type="submit">Log In</button>
                    </form>
                </div>
                <div id="signup">
                    <h1>Sign Up for Free</h1>
                    <form action="/" method="post">
                        <div class="field-wrap">
                            <label>
                                Email Address<span class="req">*</span>
                            </label>
                            <input autocomplete="off" required="" type="email" />
                        </div>
                        <div class="field-wrap">
                            <label>
                                Set A Password<span class="req">*</span>
                            </label>
                            <input autocomplete="off" required="" type="password" />
                        </div>
                        <button class="button button-block" type="submit">Get Started</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <header class="header_external" id="header">
            <div class="hi_wrapper">
                <div class="header_icon" id="header_icon">
                    <input id="check_header" type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="container">
                <nav class="header_nav">
                    <div class="main_logo"><a href="{% url 'news-main' %}">STOCKMOON</a></div>
                    <div class="main_nav" id="main-nav">
                        <ul class="section_wrap" id="main-nav">
                            <li class="main_li" id="dropdown">
                                <a class="menu_paraghraph name type" data-type="">MARKETS</a>
                                <div class="nav_section">
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-forex' %}">Financial</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-index' %}">Index</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-energy' %}">Energy</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-metal' %}">Metal</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-agriculture' %}">Agriculture</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-crypto' %}">Cryptocurrencies</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main_li" id="dropdown">
                                <a class="menu_paraghraph type">Company</a>
                                <div class="nav_section show" id="nav_section">
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-about' %}">About</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="#">Blog</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-contact' %}">Contact</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main_li" id="dropdown" data-type="notSigned">
                                <a class="menu_paraghraph type">Your Moon</a>
                                <div class="nav_section showLast" id="nav_section">
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="#">News</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-profile' %}">Profile</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type signed"><a href="{% url 'news-profile' %}" id="signed">Mogu4iy.kotygoroshko@gmail.com</a></li>
                                        <li class="section_type sign"><a class="menu_paragraph sign_in" id="signlog">SIGN IN</a></li>
                                        <li class="section_type sub"><a class="menu_paraghraph subscribe" href="{% url 'news-pricer' %}">Subscribe</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="nav_desktop_section" id="nav_section_desktop">
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-forex' %}">Forex</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-rub' %}">RUB</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-gbp' %}">GBP</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-jpy' %}">JPY</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-eur' %}">EUR</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-cny' %}">CNY</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-index' %}">Index</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-nyse' %}">NYSE Composite</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-sp' %}">S&P 500</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-nasdaq' %}">Nasdaq 100</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-rut' %}">Russell 2000</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-n225' %}">Nikkei 225</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-energy' %}">Energy</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-oil' %}">Crude oil</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-gas' %}">Natural gas</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-brent' %}">Brent crude</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-metal' %}">Metal</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-gold' %}">Gold</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-silver' %}">Silver</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-platinum' %}">Platinum</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-iron' %}">Iron</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-copper' %}">Copper</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-agriculture' %}">Agriculture</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-corn' %}">Corn</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-soybean' %}">Soybean</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-cattle' %}">Cattle</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-sugar' %}">Sugar</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-crypto' %}">Crypto</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-btc' %}">Bitcoin</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-eth' %}">Ethereum</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-dash' %}">Dash</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-ltc' %}">Litecoin</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-xmr' %}">Monero</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-xrp' %}">Ripple</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="slogan_wrapper">
                    <div class="slogan m">Try StockMoon free for 7 days.</div>
                    <div class="slogan">Start your trial now - then you don't want to stop.</div>
                    <div class="free_trial">Get StockMoon <a href="#" class="trial">Free Trial</a></div>
                </div>
                <div class="pricing-container">
                    <ul class="pricing-list">
                        <li>
                            <ul class="pricing-wrapper">
                                <li data-type="monthly" class="is-visible">
                                    <div class="pricing-header">
                                        <h2>Planet</h2>
                                    </div>
                                    <div class="price">
                                        <span class="currency">$</span>
                                        <span class="value">4</span>
                                        <span class="duration">mo</span>
                                    </div>
                                    <ul class="specific">
                                        <li>Unlimited markets</li>
                                        <li>Full Analytics</li>
                                        <li>Charts</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <div class="select">
                                            <a href="#">Get Started</a>
                                        </div>
                                    </div>
                                </li>
                                <li data-type="yearly" class="is-hidden">
                                    <div class="pricing-header">
                                        <h2>Planet</h2>
                                        <span>Save 20%</span>
                                    </div>
                                    <div class="price">
                                        <span class="currency">$</span>
                                        <span class="value">24</span>
                                        <span class="duration">yr</span>
                                    </div>
                                    <ul class="specific">
                                        <li>Unlimited markets</li>
                                        <li>Full Analytics</li>
                                        <li>Charts</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <div class="select">
                                            <a href="#">Get Started</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="special_li">
                            <ul class="pricing-wrapper">
                                <li data-type="monthly" class="is-visible">
                                    <div class="pricing-header">
                                        <h2>Supernova</h2>
                                    </div>
                                    <div class="price">
                                        <span class="currency">$</span>
                                        <span class="value">10</span>
                                        <span class="duration">mo</span>
                                    </div>
                                    <ul class="specific">
                                        <li>Unlimited markets</li>
                                        <li>Full Analytics</li>
                                        <li><span>All</span>Charts</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <div class="select">
                                            <a href="#">Get Started</a>
                                        </div>
                                    </div>
                                </li>
                                <li data-type="yearly" class="is-hidden">
                                    <div class="pricing-header">
                                        <h2>Supernova</h2>
                                        <span>Save 20%</span>
                                    </div>
                                    <div class="price">
                                        <span class="currency">$</span>
                                        <span class="value">69</span>
                                        <span class="duration">yr</span>
                                    </div>
                                    <ul class="specific">
                                        <li>Unlimited markets</li>
                                        <li>Full Analytics</li>
                                        <li>Charts</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <div class="select">
                                            <a href="#">Get Started</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="pricing-wrapper">
                                <li data-type="monthly" class="is-visible">
                                    <div class="pricing-header">
                                        <h2>Star</h2>
                                        <span>Best Dial</span>
                                    </div>
                                    <div class="price">
                                        <span class="currency">$</span>
                                        <span class="value">6.5</span>
                                        <span class="duration">mo</span>
                                    </div>
                                    <ul class="specific">
                                        <li><span>Unlimited</span> markets</li>
                                        <li><span>Full</span> Analytics</li>
                                        <li>Charts</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <div class="select">
                                            <a href="#">Get Started</a>
                                        </div>
                                    </div>
                                </li>
                                <li data-type="yearly" class="is-hidden">
                                    <div class="pricing-header">
                                        <h2>Star</h2>
                                        <span>Save 20%</span>
                                    </div>
                                    <div class="price">
                                        <span class="currency">$</span>
                                        <span class="value">42</span>
                                        <span class="duration">yr</span>
                                    </div>
                                    <ul class="specific">
                                        <li><span>Unlimited</span> markets</li>
                                        <li>Full Analytics</li>
                                        <li><span>All</span>Charts</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <div class="select">
                                            <a href="#">Get Started</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="pricing-switcher">
                        <p class="fieldset">
                            <input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
                            <label for="monthly-1">Month</label>
                            <input type="radio" name="duration-1" value="yearly" id="yearly-1">
                            <label for="yearly-1">Year</label>
                            <span class="switch"></span>
                        </p>
                    </div>
                </div>
                <div class="common_que_wrapper">
                    <h2 class="common_h">Common questions/FAQ</h2>
                </div>
                <div class="faqs_wrapper">
                    <div class="faq_list">
                        <div class="faq">
                            <div class="faq_question-wrapper">
                                <div id="faq_question_1" class="faq_question">
                                    <h4>Why use Stockmoon?</h4>
                                </div>
                            </div>
                            <div id="faq_answer_1" class="faq_answer" style="display: none;">
                                <span style="font-weight: 400;">Using artificial intelligence, Stockmoon collects news and financial data. This will help to understand market behavior, trends and can affect the success of your transactions. So the Stockmoon user gets a competitive advantage at the market.
                                </span>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq_question-wrapper">
                                <div id="faq_question_2" class="faq_question">
                                    <h4>What do I get when I subscribe?</h4>
                                </div>
                            </div>
                            <div id="faq_answer_2" class="faq_answer" style="display: none;">
                                <span style="font-weight: 400;">You get a access to a huge database of financial data and new market news from all over the world.
                                </span>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq_question-wrapper">
                                <div id="faq_question_3" class="faq_question">
                                    <h4>Why your news is so important?</h4>
                                </div>
                            </div>
                            <div id="faq_answer_3" class="faq_answer" style="display: none;">
                                <span style="font-weight: 400;">Because our program connects to thousands of specialized financial sites from about 100 countries, sorts news into categories and sends it to you. The process takes several minutes.
                                </span>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq_question-wrapper">
                                <div id="faq_question_4" class="faq_question">
                                    <h4>What should I do, If I want to write a feedback or enter into partnership?</h4>
                                </div>
                            </div>
                            <div id="faq_answer_4" class="faq_answer" style="display: none;">
                                <span style="font-weight: 400;">Fill out the form via link <a style="text-decoration: underline;" href="https://stockmoon.net/contact">https://stockmoon.net/contact/</a>
                                </span>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq_question-wrapper">
                                <div id="faq_question_5" class="faq_question">
                                    <h4>What if I have another topic?</h4>
                                </div>
                            </div>
                            <div id="faq_answer_5" class="faq_answer" style="display: none;">
                                <span style="font-weight: 400;">Contact us via <a style="text-decoration: underline;" href="mailto:stockmoon@gmail.com">stockmoon@gmail.com</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer_external" id="footer">
            <div class="container">
                <div class="footer_wrapper">
                    <div class="footer_nav_section">
                        <div class="footer_logo">STOCKMOON</div>
                        <div class="social">
                            <a class="store-button" href="https://www.facebook.com/Binary.Studio.Company/">
                                <img class="image-social" src="{% static 'news/images/facebook.svg' %}" />
                            </a>
                            <a class="store-button" href="https://www.instagram.com/toyota/?hl=ru">
                                <img class="image-social" src="{% static 'news/images/instagram.svg' %}" />
                            </a>
                            <a class="store-button" href="https://www.lincedin.com/" style="background-color: white; border-radius: 5px;">
                                <img class="image-social" src="{% static 'news/images/linkedin.svg' %}" />
                            </a>
                        </div>
                        <a class="rights">В©2020 StockMoon All Rights Reserved</a>
                    </div>
                    <div class="footer_other">
                        <div class="footer_list">
                            <a class="refer_type">Company</a>
                            <a class="refer" href="{% url 'news-about' %}">About Us</a>
                            <a class="refer" href="#">Blog</a>
                            <a class="refer" href="#">Careers</a>
                        </div>
                        <div class="footer_list" style=" border-right: 2px solid gray;">
                            <a class="refer_type">Help</a>
                            <a class="refer" href="#">Help</a>
                            <a class="refer" href="#">Terms of use</a>
                            <a class="refer" href="{% url 'news-contact' %}">Contact Us</a>
                        </div>
                        <div class="footer_list contact">
                            <a class="refer_type">Contact</a>
                            <a class="refer" href="https://goo.gl/maps/btMrYPCnBw6UBzzR6" target="_blank">Biloruska street<br />Kyiv, Ukraine
                            </a>
                            <a class="refer" href="tel:+38099-300-6761" style="margin-top: 15px;">+(380) 99 300 67 61</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'news/style/js/main.js' %}"></script>
<script src="{% static 'news/style/js/cooomon.js' %}"></script>
<script src="{% static 'news/style/js/pricer.js' %}"></script>
<script src="{% static 'style/js/login.js' %}"></script>

</html>