{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>STOCKMOON</title>
    <link rel="stylesheet" href="{% static 'news/images/logo.png' %}" rel="icon" type="image/png">
    <link rel="stylesheet" href="{% static 'news/style/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/allPages.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/account.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="window" id="form_window">
        <div class="signForm" id="form">
            <div id="cancel_icon"></div>
            <ul class="tab-group">
                <li class="tab active"><a href="#login">LOG IN</a></li>
                <li class="tab"><a href="#signup">SIGN UP</a></li>
            </ul>
            <div class="tab-content">
                <div id="login">
                    <h1>Welcome Back!</h1>
                    <form action="/" method="post">
                        <div class="field-wrap">
                            <label>
                                Email Address<span class="req">*</span>
                            </label>
                            <input required="" type="email" />
                        </div>
                        <div class="field-wrap">
                            <label>
                                Password<span class="req">*</span>
                            </label>
                            <input required="" type="password" />
                        </div>
                        <p class="forgot"><a href="#">Forgot Password?</a></p>
                        <button class="button button-block" type="submit">Log In</button>
                    </form>
                </div>
                <div id="signup">
                    <h1>Sign Up for Free</h1>
                    <form action="/" method="post">
                        <div class="field-wrap">
                            <label>
                                Email Address<span class="req">*</span>
                            </label>
                            <input autocomplete="off" required="" type="email" />
                        </div>
                        <div class="field-wrap">
                            <label>
                                Set A Password<span class="req">*</span>
                            </label>
                            <input autocomplete="off" required="" type="password" />
                        </div>
                        <button class="button button-block" type="submit">Get Started</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <header class="header_external" id="header">
            <div class="hi_wrapper">
                <div class="header_icon" id="header_icon">
                    <input id="check_header" type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="container">
                <nav class="header_nav">
                    <div class="main_logo"><a href="{% url 'news-main' %}">STOCKMOON</a></div>
                    <div class="main_nav" id="main-nav">
                        <ul class="section_wrap" id="main-nav">
                            <li class="main_li" id="dropdown">
                                <a class="menu_paraghraph name type" data-type="">MARKETS</a>
                                <div class="nav_section">
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-forex' %}">Financial</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-index' %}">Index</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-energy' %}">Energy</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-metal' %}">Metal</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-agriculture' %}">Agriculture</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-crypto' %}">Cryptocurrencies</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main_li" id="dropdown">
                                <a class="menu_paraghraph type">Company</a>
                                <div class="nav_section show" id="nav_section">
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-about' %}">About</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="#">Blog</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-contact' %}">Contact</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main_li" id="dropdown" data-type="notSigned">
                                <a class="menu_paraghraph type">Your Moon</a>
                                <div class="nav_section showLast" id="nav_section">
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="#">News</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type"><a href="{% url 'news-profile' %}">Profile</a></li>
                                    </ul>
                                    <ul class="menu_section">
                                        <li class="section_type signed"><a href="{% url 'news-profile' %}" id="signed">Mogu4iy.kotygoroshko@gmail.com</a></li>
                                        <li class="section_type sign"><a class="menu_paragraph sign_in" id="signlog">SIGN IN</a></li>
                                        <li class="section_type sub"><a class="menu_paraghraph subscribe" href="{% url 'news-pricer' %}">Subscribe</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="nav_desktop_section" id="nav_section_desktop">
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-forex' %}">Forex</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-rub' %}">RUB</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-gbp' %}">GBP</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-jpy' %}">JPY</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-eur' %}">EUR</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-cny' %}">CNY</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-index' %}">Index</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-nyse' %}">NYSE Composite</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-sp' %}">S&P 500</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-nasdaq' %}">Nasdaq 100</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-rut' %}">Russell 2000</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-n225' %}">Nikkei 225</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-energy' %}">Energy</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-oil' %}">Crude oil</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-gas' %}">Natural gas</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-brent' %}">Brent crude</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-metal' %}">Metal</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-gold' %}">Gold</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-silver' %}">Silver</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-platinum' %}">Platinum</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-iron' %}">Iron</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-copper' %}">Copper</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-agriculture' %}">Agriculture</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-corn' %}">Corn</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-soybean' %}">Soybean</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-cattle' %}">Cattle</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-sugar' %}">Sugar</a></li>
                        </ul>
                        <ul class="menu_section">
                            <li class="section_type"><a href="{% url 'news-crypto' %}">Crypto</a>
                            </li>
                            <li class="section_paraghraph"><a href="{% url 'news-btc' %}">Bitcoin</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-eth' %}">Ethereum</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-dash' %}">Dash</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-ltc' %}">Litecoin</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-xmr' %}">Monero</a></li>
                            <li class="section_paraghraph"><a href="{% url 'news-xrp' %}">Ripple</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="page_main_container">
                    <div class="page_nav_wrapper">
                        <ul class="aside_nav">
                            <li class="aside_nav_item selected"><button class="aside_nav_link">Profile</button></li>
                            <li class="aside_nav_item"><button class="aside_nav_link">Subscriptions</button></li>
                            <li class="aside_nav_item links"><a class="aside_nav_link">Help</a></li>
                            <li class="aside_nav_item"><a class="aside_nav_link">Contact us</a></li>
                            <li class="aside_nav_item"><button class="aside_nav_link">Sign out</button></li>
                        </ul>
                    </div>
                    <div class="page_nav_content-wrapper">
                        <div class="page_nav_content">
                            <div class="page_nav">
                                <div class="page_name"><a href="account.html">Your <span>Moon</span></a></div>
                                <div class="page_stockname">
                                    <a id="page_type">Profile</a>
                                </div>
                            </div>
                            <div class="page_notes">
                                You use <span id="user_email">Pasasi@gamil.com</span> as a contact email <br>(for notifications, special offers) and as your login to sign in.
                            </div>
                            <div class="info_input_wrapper">
                                <form name="emailForm">
                                    <div class="input_topic">
                                        <h3>Email</h3>
                                        <span class="input-manage save">
                                            <button type="submit" name="emailSave">Save</button>
                                            <button type="reset" name="emailCancel">Cancel</button>
                                        </span>
                                        <span class="input-manage edit">
                                            <button type="button" name="emailEdit">Edit</button>
                                        </span>
                                    </div>
                                    <span id="emailInput">
                                        <!-- <div class="input_icon email"></div> -->
                                        <input type="email" class="email-input" placeholder="mogu4iy.kotygoroshko@gmail.com" name="emailInput" disabled>
                                    </span>
                                </form>
                            </div>
                            <div class="info_input_wrapper">
                                <form name="passwordForm">
                                    <div class="input_topic">
                                        <h3>Password</h3>
                                        <span class="input-manage save">
                                            <button type="submit" name="passSave">Save</button>
                                            <button type="reset" name="passCancel">Cancel</button>
                                        </span>
                                        <span class="input-manage edit">
                                            <button type="button" name="passEdit">Edit</button>
                                        </span>
                                    </div>
                                    <span>
                                        <!-- <div class="input_icon password"></div> -->
                                        <input type="text" class="password-input" name="password" placeholder="******" disabled>
                                    </span>
                                    <span id="newPassInput">
                                        <!-- <div class="input_icon password"></div> -->
                                        <input type="text" class="password-input" name="newPassword">
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer_external" id="footer">
            <div class="container">
                <div class="footer_wrapper">
                    <div class="footer_nav_section">
                        <div class="footer_logo">STOCKMOON</div>
                        <div class="social">
                            <a class="store-button" href="https://www.facebook.com/Binary.Studio.Company/">
                                <img class="image-social" src="{% static 'news/images/facebook.svg' %}" />
                            </a>
                            <a class="store-button" href="https://www.instagram.com/toyota/?hl=ru">
                                <img class="image-social" src="{% static 'news/images/instagram.svg' %}" />
                            </a>
                            <a class="store-button" href="https://www.lincedin.com/" style="background-color: white; border-radius: 5px;">
                                <img class="image-social" src="{% static 'news/images/linkedin.svg' %}" />
                            </a>
                        </div>
                        <a class="rights">В©2020 StockMoon All Rights Reserved</a>
                    </div>
                    <div class="footer_other">
                        <div class="footer_list">
                            <a class="refer_type">Company</a>
                            <a class="refer" href="{% url 'news-about' %}">About Us</a>
                            <a class="refer" href="#">Blog</a>
                            <a class="refer" href="#">Careers</a>
                        </div>
                        <div class="footer_list" style=" border-right: 2px solid gray;">
                            <a class="refer_type">Help</a>
                            <a class="refer" href="#">Help</a>
                            <a class="refer" href="#">Terms of use</a>
                            <a class="refer" href="{% url 'news-contact' %}">Contact Us</a>
                        </div>
                        <div class="footer_list contact">
                            <a class="refer_type">Contact</a>
                            <a class="refer" href="https://goo.gl/maps/btMrYPCnBw6UBzzR6" target="_blank">Biloruska street<br />Kyiv, Ukraine
                            </a>
                            <a class="refer" href="tel:+38099-300-6761" style="margin-top: 15px;">+(380) 99 300 67 61</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'news/style/js/main.js' %}"></script>
<script src="{% static 'news/style/js/profile.js' %}"></script>
<script src="{% static 'style/js/login.js' %}"></script>

</html>