@media only screen and (min-width: 760px) {

    .topic_select,
    .input {
        width: 400px;
    }

    textarea.input {
        width: 600px;
    }

    .contact_button {
        width: 200px;
    }
}

@media only screen and (max-width: 760px) {}

/* NAV */
.page_nav {
    margin-top: 30px;
    padding-bottom: 15px;
    display: flex;
    border-bottom: 3px solid black;
    flex-wrap: wrap;
}

.page_stockname {
    display: inline-block;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
}

.page_name {
    display: block;
    color: black;
    font-weight: bold;
    padding-right: 15px;
    font-size: 3rem;

}

.text {
    text-align: left;
    width: 100%;
}

.paragraph_text {
    color: black;
    margin: 0px;
}

/* Contact */
.topic_select {
    border: 0.1rem solid black;
    height: 75px;
    font-size: 1.375rem;
    color: black;
}

.topic_select:focus {
    outline: 0;
}

.contact_wrapper {
    display: flex;
    margin-bottom: 30px;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact_block_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input_name {
    color: black;
    padding: 5px;
    font-size: 1.25rem;
}

.input {
    display: block;
    height: 75px;
    font-size: 1.375rem;
    border: 0.1rem solid black;
    padding: 0px 10px;
    outline: 0;
}

textarea.input {
    height: 150px;
    padding-top: 15px;
}

.contact_button {
    margin-top: 30px;
    height: 75px;
    background: none;
    color: #7612C8;
    font-size: 1.375rem;
    cursor: pointer;
    outline: 0;
    border: 0.1rem solid black;
}