@media only screen and (max-width: 680px) {
    .footer_wrapper {
        flex-direction: column;
    }

    .footer_nav_section {
        align-items: center;
    }

    .footer_other {
        justify-content: space-between;
    }
    .footer_list.contact{
        display: none;
    }
}

@media only screen and (min-width: 680px) and (max-width: 760px) {
    .footer_wrapper {
        flex-direction: column;
    }

    .footer_nav_section {
        align-items: center;
    }

    .footer_other {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1040px) {
    .footer_wrapper {
        flex-direction: row;
    }

    .footer_nav_section {
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1040px) and (max-width: 1280px) {
    .footer_wrapper {
        flex-direction: row;
    }

    .footer_nav_section {
        align-items: flex-start;
    }
}

@media only screen and (min-width : 1280px) {
    .footer_wrapper {
        flex-direction: row;
    }

    .footer_nav_section {
        align-items: flex-start;
    }
}

.footer_external {
    width: 100%;
    background: black;
    display: flex;
    min-height: 200px;
}

.footer_wrapper {
    margin: 15px 0;
    display: flex;

    justify-content: space-between;
    ;
}

.footer_wrapper>* {
    margin: 10px 0;
}

.footer_nav_section {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-transform: none;
    padding-right: 30px;
}

.footer_logo {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.store-button {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 5px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image-social {
    color: black;
    padding-right: 15px;
}

.rights {
    padding-top: 10px;
    color: black;
    font-size: 11px;
    color: gray;
}

.footer_other {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.footer_list {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.refer_type {
    color: gray;
    padding: 0 0 5px 0;
    font-size: 25px;
    font-weight: 600;
}

.refer {

    padding: 0 0 5px 0;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.refer:hover {
    color: #3C994E;
}

.footer_list.contact a.refer:hover {
    color: white;
    text-decoration: underline;
}