@media only screen and (max-width: 1040px) {
    .page_stockname {
        font-size: 2.25rem;
    }

    .key_data_item {
        width: calc(100% - 10px);
    }

    .key_data_item_value {
        text-align: right;
    }
}


@media only screen and (max-width: 760px) {
    .page_extra_nav {
        display: none;
    }

    .info_wrapper {
        flex-direction: column;
    }

    .last_new_wrapper {
        width: 100%;
        margin: 0;
    }

    .news_article {
        flex-direction: row;

    }

    .last_new_info {
        display: flex;
        flex-direction: column;
        width: calc(100% - 250px);
        padding-left: 15px;
    }

    .last_new_img_wrapper {
        width: 250px;
        height: 150px;
    }

    .news_main_info {
        text-align: left;

    }


}

@media only screen and (min-width: 760px) {
    .page_extra_nav {
        display: flex;
    }

    .info_wrapper {
        flex-direction: row;
    }

    .news_article {
        flex-direction: row;
    }

    .last_new_wrapper {
        width: 100%;
        margin: 0;
    }

    .news_main_info {
        text-align: left;
    }

    .last_new_info {
        padding-left: 15px;
        width: calc(100% - 300px);
    }

    .last_new_img_wrapper {
        height: 175px;
        width: 300px;
    }
}

@media only screen and (max-width: 680px) {
    .page_menu {
        display: none;
    }

    .data_news_wrapper {
        flex-direction: column-reverse;
    }

    .data_news_wrapper>* {
        width: 100%;
    }

    .data_control_wrapper {
        padding: 5px 15px;
    }

    .data_header {
        overflow-y: scroll;
    }

    .data_control_wrapper:first-child {
        padding: 5px 15px 5px 0;
    }

    .data_control_wrapper:last-child {
        padding: 5px 0 5px 15px;
    }

    .key_data_item {
        width: calc(50% - 10px);
    }

    .last_new_img_wrapper {
        max-width: 100%;
        min-width: 200px;
        height: 150px;
    }

    .last_new_info {
        min-width: 200px;
    }

    .last_new_info h2 {
        font-size: 1rem;
    }

    .news_article {
        margin: 0;
    }
}

@media only screen and (min-width: 480px) {
    .news_main_info {
        font-size: 0.875rem;
        padding: 5px 0;
    }
}

@media only screen and (max-width: 480px) {
    .last_new_img_wrapper {
        width: 125px;
        min-width: 100px;
        height: 100px;
    }

    .last_new_info {
        width: calc(100% - 125px);
        min-width: 0px;
    }


    .last_new_source {
        display: none;
    }

    .news_main_info {
        text-align: left;
        padding: 0;
        font-size: 0.75rem;
    }
}


@media only screen and (min-width: 680px) {
    .page_menu {
        display: flex;
    }

    .data_news_wrapper {
        flex-direction: row;
    }

    .last_news {
        width: 70%;
        padding-right: 30px;
    }

    .key_data_group {
        width: 30%;
    }

    .data_control_wrapper {
        padding: 5px 15px;
    }

    .last_new_info h2 {
        font-size: 1.25rem;
    }

}

@media only screen and (min-width: 1040px) {
    .page_stockname {
        font-size: 3rem;
    }

    .key_data_item {
        width: calc(50% - 10px);
    }

    .last_new_img_wrapper {
        height: 200px;
        width: 350px;
    }

    .last_new_info {
        width: calc(100% - 350px);
    }
}



@media only screen and (min-width : 1280px) {}

main {
    min-height: calc(100vh - 280px);
}

/* NAV */
.page_nav {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.page_nav_name {
    position: relative;
    padding-right: 15px;
}

.page_nav_name:after {
    position: absolute;
    top: 5px;
    right: 0;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #7612C8;
}

.page_stockname {}

.page_name {
    display: inline-block;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;

}

.page_name a {
    position: relative;
}

.page_name a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 4px;
    left: 3px;
    width: 100%;
    height: 40%;
    background-color: var(--tooltip-color);
    z-index: -1;
}

.page_menu {
    padding: 0;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
}

.page_paraghraph {
    padding: 0 5px;
    border-right: 2px gray solid;
}

.page_paraghraph a {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.page_paraghraph.choosed a {
    font-weight: bold;
}

.page_paraghraph:hover a {
    color: #3C994E;
}

.page_extra_nav {
    margin: 0 5px 15px 5px;
    flex-direction: row;
    align-items: center;
}

.page_extra_nav ul li a {
    font-size: 0.875rem;

}

.page_extra_nav .page_menu {
    margin: 0;
}

/* Info*/
.info_wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 15px;
}

.info {
    padding-right: 15px;
}


.rub_wrapper {
    padding: 15px;
}

.price_wrapper {}

.icon--sun {
    font-size: 1rem;
    padding-right: 2px;
    color: orange;
}

.status {
    font-size: 1rem;
}

.market_info {
    display: flex;
    justify-content: flex-end;
}

.market_info>* {
    display: inline-block;
}

.price {
    color: black;
    float: left;
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.price_currency {
    font-size: 0.825rem;
    margin-left: 5px;
    padding: .25rem 0;
}

.change_wrapper {
    text-align: left;
    font-size: 0.825rem;
    text-transform: uppercase;
    font-weight: bold;
}

.change {
    color: #7612C8;
}

#follow-button {
    cursor: pointer;
    border: 2px solid black;
    font-weight: bold;
    font-size: 1.125rem;
    background: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
}

#follow-button>* {
    display: inline-block;
}

.star_icon {
    background-position: center;
    background-image: url("../../images/star.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

#follow-button:hover .star_icon {
    background-image: url("../../images/star2.svg");
}

#follow-button:hover {
    border: 2px solid #7612C8;
}

#follow-button[data-type="activated"] span {
    display: none;
}

#follow-button[data-type="activated"] .star_icon {
    background-image: url("../../images/star2.svg");
}

#follow-button[data-type="activated"] {
    border-radius: 100%;
    padding: 0;
}

#follow-button[data-type="activated"]:hover .star_icon {
    background-image: url("../../images/star.svg");
}

/* Choose row */
.data_wrapper {}

.data_header {
    width: 100%;
    border-bottom: 2px solid black;
    display: inline-flex;
}

.data_control_wrapper {
    cursor: pointer;
    position: relative;
}

.data_control_wrapper:hover:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #7612C8;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.data_control_wrapper.selected a {
    color: #7612C8;
}

.data_control_wrapper:hover a {
    color: #7612C8;
}

.data_control {
    z-index: 1000;
    color: black;
    cursor: pointer;
    font-size: 1.25rem;

}

/* Summary */
.data_news_wrapper {
    display: flex;
}

.info_header {
    width: 100%;
}

.last_news {
    padding-bottom: 15px;
}

.news_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.last_new_wrapper {}

time {
    color: #767676;
}

.news_article {
    width: 100%;
    margin: 15px 0 0 0;
    display: flex;
}

.last_new_img_wrapper {
    position: relative;
}

.last_new_img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.last_new_img_wrapper>.last_new_source {
    background: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
    text-align: center;
    min-width: 90px;
    padding: 5px 0;
}

.last_new_source {
    color: #7612C8;
    font-weight: bold;
}

.last_new_info h2 {
    margin: 0;
}

.last_new_info h2:hover a {
    color: #3C994E;
}

.news_market {
    font-weight: bold;
}

.key_data_group {}

.key_data_wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    background-color: #f2f2f2;
    font-size: 1.375rem;
    color: #555;
    margin-top: 15px;
}

.key_data_list {
    padding: 0;
    margin: 0;
}

.key_data_item {
    border-bottom: .0625rem #999 dotted;
    margin: 0.25rem 5px;
    display: flex;
    flex-direction: column;
    float: left;
}

.key_data_item.range {
    width: calc(100% - 10px);
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

.key_data_item.range>.key_data_item_label {
    font-weight: 400;
    font-size: 1rem;
    color: grey;
    padding-top: 0;
}

.key_data_item_label {
    font-size: .8rem;
    letter-spacing: .0075rem;
    font-weight: 400;
    color: grey;
    padding-top: 0.5625rem;
}

.key_data_item_value {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.25rem 0;
}

/* Chart */
.data_charts_wrapper {
    width: 100%;
    padding: 15px 0;
}

.tradingview-widget-container {
    width: 100%;
    height: 100%;
}

/*Table*/
.data_table_wrapper {
    width: 100%;
    max-height: 1000px;
    overflow: hidden auto;
    padding: 15px 0;
}

.table-responsive {
    background-color: black;
    color: white;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.table_name {
    color: white;
}

.data_table_header th {
    position: sticky;
    top: -1px;
    background-color: white;

}

.data_table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;

}

.data_table tbody {
    width: 100%;
    overflow-y: auto;
    height: 409px;
}

.data_table th,
.data_table td {
    padding: 5px;
    text-align: left;
    border: 1px solid grey;
    height: 40px;
    overflow: hidden;
}