@media only screen and (max-width: 680px) {
    .container {
        width: 100%;
    }

    .image-container {
        display: none;
    }

    .info-module-columns {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 680px) and (max-width: 760px) {
    .container {
        width: 680px;
    }

    .image-container {
        display: none;
    }

    .info-module-columns {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1040px) {
    .container {
        width: 680px;
    }

    .image-container {
        display: none;
    }

    .info-module-columns {
        flex-direction: row;
        justify-content: space-around;
    }
     .info-module-column{
      width: 30%;
    }
}

@media only screen and (min-width: 1040px) and (max-width: 1280px) {
    .container {
        width: 980px;
    }

    .image-container {
        display: none;
    }

    .info-module-columns {
        flex-direction: row;
        justify-content: space-around;
    }
    .info-module-column{
      width: 30%;
    }
}

@media only screen and (min-width : 1280px) {
    .container {
        width: 1160px;
    }

    .info-module-columns {
        flex-direction: row;
        justify-content: space-around;
    }
    .info-module-column{
      width: 30%;
    }
}

/*main*/

.section {
    width: 100%;
    min-height: 93vh;
}

.section.start {
    height: 100vh;
    position: relative;

}

.section.how {
    width: 100%;
    display: block;
    background-size: contain;

}


.info-module {
    width: 100%;
    background: white;
}

.info-module-columns {
    display: flex;
    padding-top: 15px;
}

.info-module-column {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-icon {
}

.info-head {
    color: #000054;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px;
}

.info-text {
    width: 100%;
    font-size: 1rem;
    max-width: 70em;
    color: black;
    margin: 5px;
    text-align: center;
}

.edge-container {
    width: 100%;
    display: flex;
    flex: 1;
    z-index: 2;
    justify-content: center;
    background-color: black;
}

.section-small {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}

.text-container {
    margin: 0 0 30px 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white;
}

.description-name {
    font-size: 40px;
    text-transform: uppercase;
}

.description {
    font-size: 25px;
    color: white;
    line-height: 10px;
}

.app-link {
    bottom-margin: 30px;
}

.image-visible {
    visible: visible;
}













#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.name_logo {
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font: normal 75% Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-align: center;
}